language: php

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

env:
    matrix:
        - DEPS=high
        - DEPS=low

php:
    - 5.5
    - 5.6
    - 7.0
    - 7.1
    - nightly
    - hhvm
    - hhvm-nightly

matrix:
    allow_failures:
        - php: nightly
        - php: hhvm
        - php: hhvm-nightly
    fast_finish: true

before_script:
    - export DISPLAY=:99.0 CHROME_DRIVER_VERSION=2.33 SELENIUM_VERSION=3.6.0
    - Xvfb $DISPLAY -extension RANDR &> /dev/null &

    - wget "https://chromedriver.storage.googleapis.com/${CHROME_DRIVER_VERSION}/chromedriver_linux64.zip"
    - unzip chromedriver_linux64.zip
    - wget "https://selenium-release.storage.googleapis.com/${SELENIUM_VERSION%%.[[:digit:]]}/selenium-server-standalone-${SELENIUM_VERSION}.jar" -O selenium.jar
    - java -jar -Dwebdriver.chrome.driver=./chromedriver selenium.jar &> /dev/null &

    - php -S localhost:8080 -t tests/fixtures/www &> /dev/null &
    - cp behat.yml{.dist,}
    - composer install

    - test "$DEPS" == "high" || composer update --prefer-lowest
    - test "$DEPS" == "high" || composer update atoum/atoum

script:
    - ./bin/atoum
    - ./bin/behat -fprogress --tags='~@user' --no-interaction
    - ./bin/behat -fprogress --tags='~@user' --no-interaction --profile=symfony2
