default:
    suites:
        default:
            paths: [ '%paths.base%/tests/features' ]
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - behatch:context:browser:
                    timeout: 1
                - behatch:context:debug:
                    screenshotDir: "."
                - behatch:context:json:
                    evaluationMode: javascript
                - behatch:context:rest
                - behatch:context:system:
                    root: "."
                - behatch:context:table
                - behatch:context:xml
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            base_url: 'http://localhost:8080'
            files_path: 'tests/fixtures/files'
            goutte: ~
            selenium2: ~
            browser_name: 'chrome'
            sessions:
                symfony2:
                    goutte: ~
        Behatch\Extension: ~

symfony2:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            default_session: symfony2
