default:
    calls:
        error_reporting: 16383 # E_ALL & ~E_USER_DREPRECATED
    suites:
        default:
            paths: [ %paths.base%/tests/features ]
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - behatch:browser:
                    timeout: 1
                - behatch:debug:
                    screenshotDir: "."
                - behatch:json:
                    evaluationMode: javascript
                - behatch:rest
                - behatch:system:
                    root: "."
                - behatch:table
                - behatch:xml
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            base_url: 'http://localhost:8080'
            files_path: 'tests/fixtures/files'
            goutte: ~
            selenium2: ~
            sessions:
                default:
                    goutte: ~
                symfony2:
                    goutte: ~
        Behatch\Extension: ~

symfony2:
    calls:
        error_reporting: 16383 # E_ALL & ~E_USER_DREPRECATED
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            default_session: symfony2
